{{title}}

<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
</nav>
<router-outlet></router-outlet>


<!--<label>Two-way data binding</label><br>-->
<!--<div><input type="text" placeholder="Write..." [(ngModel)]='name'></div>-->
<!--<br>-->
<!--<div>{{name}}</div>-->
<!--<hr>-->
<!--&lt;!&ndash;<div class="app-server"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div app-server></div>&ndash;&gt;-->
<!--<app-server></app-server>-->
<!--<hr>-->
<!--<div>{{'Server'}} with ID {{serverId}} is <span [ngStyle]="{color: getColor()}">{{getServerStatus()}}</span></div>-->

<!--<app-login></app-login>-->

